name: SamplePipe

on:
  push:
    branches: 
    -  main
    
  pull_request:
    branches:
    -  main

jobs:
  stepup_env:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
