name: SamplePipe

on:
  push:
    branches: 
    -  main
    
  pull_request:
    branches:
    -  main

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
